#data-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

#pokecard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Holtwood One SC', serif;
}

.page-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-button-container > * {
    margin: 1rem;
}

.page-container {
    position: absolute;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-row {
    z-index: 500;
    background-color: white;
    width: 100%;
}

.prev-next-button {
    background-color: yellow !important;
    font-family: 'Holtwood One SC', serif !important;
    color: black !important;
    border: none !important;
}

.prev-next-button:hover {
    background-color: black !important;
    color: yellow !important;
}

.name-search-box {
    border: 0 !important;
}