/* font-family: 'AR One Sans', sans-serif;
font-family: 'Gabarito', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Gabarito;
}

.card {
    border: none;
}