.type-container {
    display: flex;
    justify-content: space-around;
}

.pokemon-name {
    font-family: 'Holtwood One SC', serif;
    text-align: center;
    font-size: 1.5rem;
    /* border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-right: 0;
    border-left: 0; */
}

.poke-pic {
    width: 50% !important;
    /* height: 150px !important; */
    align-self: center;
}

.poke-pic-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-number {
    position: absolute;
    right: 5px;
    top: 5px;
    font-family: 'Holtwood One SC', serif;
    font-size: 1.5rem;
    /* border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    border-top: 0;
    border-right: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0; */
    padding: 0.25rem;
}

.pokemon-types {
    display: flex;
    justify-content: space-around;
}

.poke-card {
    margin: 1rem 0rem;
}

.type-svg {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 500;
}

.damage-relations-type-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.damage-relations-table {
    width: 100%;
}

.damage-relations-table td {
    vertical-align: top;
}